<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stocktracer.backend.value.mapper.EpsHistoryMapper">
    <resultMap id="epsPrevMap" type="com.stocktracer.backend.value.domain.EpsHistory">
        <constructor>
            <idArg column="stock_code" javaType="java.lang.String"/>
            <arg column="prev_eps" javaType="java.math.BigDecimal"/>
            <arg column="prev_effective_date" javaType="java.time.LocalDate"/>
        </constructor>
    </resultMap>

    <select id="findPrevEps" resultMap="epsPrevMap">
        SELECT
            h.stock_code,
            h.prev_eps,
            h.prev_effective_date
        FROM(
            SELECT
                stock_code,
                eps as prev_eps,
                effective_date as prev_effective_date,
                ROW_NUMBER() OVER (PARTITION BY stock_code ORDER BY seq DESC) AS rn
            FROM
                eps_history
            WHERE
                effective_date &lt; #{baseDate} <!-- 금일 날짜 제외 -->
            ) h
        WHERE h.rn = 1
    </select>
</mapper>