<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stocktracer.backend.investorflow.mapper.InvestorFlowAnalysisMapper">
    <!-- 1. 투자자별 순매도액 분석 결과 대량 저장 -->
    <insert id="upsertAll">
        INSERT INTO investor_flow_daily (
        stock_code,
        base_date,
        net_ratio,
        score,
        is_double_buy,
        is_clean_buy,
        reason,
        )
        VALUES
        <foreach collection="flows" item="f" separator=",">
            (
            #{f.stockCode},
            #{f.baseDate},
            #{f.netRatio, jdcbType=DECIMAL}, <!-- null인 경우 처리 방법 안내 미작성 시 JdbcType OTHER 예외 발생 -->
            #{f.score},
            #{f.doubleBuy},
            #{f.cleanBuy},
            #{f.reason, jdbcType=VARCHAR} <!-- null인 경우 처리 방법 안내 -->
            )
        </foreach> AS new
        ON DUPLICATE KEY UPDATE
            net_ratio = new.netRatio,
            score = new.score,
            is_double_buy = new.doubleBuy,
            is_clean_buy = new.cleanBuy,
            reason = new.reason
    </insert>
</mapper>