<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stocktracer.backend.investorflow.mapper.InvestorFlowDailyMapper">
    <!-- 1. 투자자별 순매도액 대량 저장 -->
    <insert id="bulkUpsert" parameterType="java.util.List">
        INSERT INTO investor_flow_daily (
            stock_code,
            base_date,
            foreign_net,
            institution_net,
            individual_net,
            trading_value
        )
        VALUES
        <foreach collection="flows" item="f" separator=",">
            (
                #{f.stockCode},
                #{f.baseDate},
                #{f.foreignNet},
                #{f.institutionNet},
                #{f.individualNet},
                #{f.tradingValue, jdbcType=BIGINT}, <!-- jdbcType=BIGINT 타입을 알려주고 null 입력 될 시 null 처리 -->
            )
        </foreach> AS new
        ON DUPLICATE KEY UPDATE
            foreign_net = new.foreign_net,
            institution_net = new.institution_net,
            individual_net = new.individual_net ,
            trading_value = new.trading_value
    </insert>
</mapper>